header, section, footer, aside, nav {
    display: block;
}
/* MAIN TEMPLATE - includes form, table, column cards, full cards, card trio */

/* Main & Body*/
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #2c2828;
    font-size: 18px;
    line-height: 24px;
    background-color: #e5ecf0;
}

h1 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 60px;
    font-weight: 400;
    letter-spacing: 0.01em;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 60px;
    line-height: 100%;
    font-weight: 400;
}

h3 {
    margin-top: 0px;
    margin-bottom: 40px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 44px;
    line-height: 100%;
    font-weight: 400;
}

h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 28px;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: -0.02em;
}

p {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 0px;
    opacity: 1.0;
    line-height: 125%;
}

a {
    transition: all 200ms ease;
    color: #2c2828;
    text-decoration: underline;
    cursor: pointer;
}

q {
    margin: none;
    font: 2.8rem Georgia, serif;
    font-weight: 500;
}

/* Table Styles */

table {
    width: 100%;
}

table th td {
    border-bottom: 1px dotted black;
    padding: 12px;
}

th {
    height: 30px;
    color: #659DBD;
    border: 2.5px solid #659DBD;
    border-radius: 24px;
    padding-left: 10px;
}
td {
    text-align: left;
    padding-left: 10px;
    height: 40px;
    vertical-align: bottom;
}

/* Form Styles */
form {
    font-size: 14px;
}

.title {
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    margin: 5% 0 5% 0;
}

input[type=text], input[type=email], input[type=date] {
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    resize: none;
}

input[type=text]:focus, input[type=email]:focus, input[type=date]:focus {
    border: 2px solid #8D8741;
    outline: none;
}

input[type=submit], input[type=button], input[type=reset] {
    background-color: #5c5c5c;
    border: none;
    border-radius: 15px;
    float: right;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 5px 5px 5px 5px;
    border: none;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    resize: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #659DBD;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #659DBD;
    border-radius: 10px;
  }

/* Main Container */
.container {
    display: block;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #e5ecf0;
    z-index: -2;
  }

/* Body Container */
.body.container {
    padding: 0 30px 100px 30px;
    background-color: #e5ecf0;
    z-index: -1;
}

/* Navigation Bar */
nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding: 15px 30px 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
}

/* Nav Menu */
.nav-menu {
    overflow: hidden;
    background-color: #e5ecf0;
}

/* Menu Links */
.nav-menu a {
    float: left;
    color: #2c2828;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;

}

.sub-nav {
    float: right;
    overflow: hidden;
}

.sub-nav .sub-btn {
    color: #2c2828;
    text-decoration: none;
    background-color: #f0efe5;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 17px 16px;
    font-family: inherit;
    border: none;
}

/* Menu Hover Background */
.nav-menu a:hover, .sub-btn:hover {
    background-color: #DAAD86;
    border-radius: 6px;
}

.sub-nav-opt {
    display: none;
    position: absolute;
    opacity: 0.8;
    min-width: 160px;
    z-index: 1;
}

.sub-nav-opt a {
    float: none;
    color: #2c2828;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sub-nav:hover .sub-nav-opt {
    display: block;
}
.sub-nav-opt a:hover {
    background-color: #DAAD86;
}

/* Page Heading & Sub Heading */
.page-header {
    display: inline;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.page-header h1 {
    padding-top: 70px;
}

.page-blurb {
    text-align: center;
    padding-bottom: 60px;
}

/* Home Anchor Cards */
.card-container {
    display: flex;

}

.card-col {
    flex: 1; 
}

.card-col:first-child {
    margin-right: 12px;
}

.card {
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 20px 30px 20px 30px;
    align-items: flex-end;
    border-radius: 15px;
    text-decoration: none;
}

/* Anchor Card Fixed Heights */
.card.H575 {
    height: 575px;
    margin-bottom: 12px;
}

.card.H575 img {
    max-width: 60%;
    justify-content: space-between;
}

.card.H285 {
    height: 285px;
    margin-bottom: 12px;
}

.card.H285 img {
    max-width: 60%;
}

.card.text {
    align-items: flex-start;
    overflow: hidden;
}

.card.image img {
    max-height: 556px;
    max-width: 575px;
    justify-content: flex-end;
}


/* Full Width Cards */
.full-card {
    min-height: 225px;
    height: 100%;
    margin-top: 3%;
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 20px 30px 20px 30px;
    align-items: flex-end;
    border-radius: 15px;
    text-decoration: none;
}

#anchor {
    margin-top: 0;
}

.full-card.table {
    border: 10px  solid #659DBD;
    opacity: 1;
    display: grid;
    min-height: 250px;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

.full-card.form {
    background-color: #c9c7c7;
    height: 100%;
    display: grid;
}

.full-card img {
    max-height: 225px;
}

.full-card iframe {
    max-height: 225px;
}

.full-card.anchor {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

.full-card.left {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

.full-card.right {
    flex-direction: row-reverse;
    text-align: right;
    justify-content: space-between;
}

.full-card.trio {
    max-width: 90%;
    padding: 5% 5% 5% 5%;
    border-radius: 12px;
}

.card.full-card.trio {
    max-width: 90%;
    padding: 5% 5% 5% 5%;
    border-radius: 12px;
    justify-content: space-between;
}

.card-text.card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 12px;
    margin-left: 1%;
    margin-right: 1%;
}

.full-card.trio img {
    max-width: 90%;
    padding: 5% 5% 5% 5%;
    border-radius: 12px;
}

.card.full-card {
    margin-bottom: 12px;
}

/* Card Colours */
.card.blue {
    background-color: #659DBD;
}

.card.fawn {
    background-color: #DAAD86;
}

.card.green {
    background-color: #8D8741;
}

.card.brown {
    background-color: #BC986A;
}

.card.beige {
    background-color: #FBEEC1;
}

/* Footer and Links */

.footer.container {
    margin: 20px 0 0 0;
    padding: 60px 0 40px 0;
    background-color: #e5ecf0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer-col {
    flex: 1;
}

.footer-quote h4 {
    margin-top: 30px;
    margin-bottom: 10%;
    display: flex;
    justify-content: right;
}

.footer-col.lsection {
    align-content: space-between;
}

.footer-col.rsection {
    margin-left: 120px;
}

.footer-copy-privacy {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    color: #24305E;
    text-decoration: none;
    font-size:  12px;
}

.footer-contact-links {
    padding-top: 10px;

}

.footer-social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}
.fab {
    display: flex;
    padding: 15px 15px 15px 0;
}

.footer-nav {
    display: flex;
 
}

.nav-col {
    flex: 1;
}

.footer-nav ul {
    padding: 0;
}

.footer-nav ul li {
    font-size: 14px;
    list-style: none;
    padding-top: 20px;
} 

.footer-nav ul li a {
    color: #2c2828;
    text-decoration: none;
    font-weight: 900;
    font-size:  16px;
}

.footer-nav ul li .current {
    color: #659DBD;
    font-weight: 1000;
}
